<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Template</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content" class="container">
    put something here....
</div>

</body>
</html>
