<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Hello Spring Security</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <b>This is Guess page</b>
                </div>
                <div class="panel panel-body">
                    This is guess page that every can visit
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="javascripts">
    <script th:src="@{/js/test1.js}" src="../../static/js/test1.js"/>
</th:block>

</body>
</html>