<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.css}"/>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <b>This is user page</b>
                </div>
                <div class="panel panel-body">
                    <!-- Table -->
                    <div id="toolbar">
                        <button id="remove" class="btn btn-danger" disabled="disabled">
                            <i class="glyphicon glyphicon-remove"></i> Delete
                        </button>
                    </div>
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-detail-view="true"
                           data-detail-formatter="detailFormatter"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-id-field="id"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-show-footer="false"
                           data-side-pagination="server"
                           data-url="api/getUsers"
                           data-response-handler="responseHandler">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="javascripts">
    <script th:src="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.js}"/>
    <script th:src="@{/js/user.js}" src="../../static/js/user.js" />
</th:block>


</body>
</html>