<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/layout">
<head>
    <title>Login</title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <b>Login Form </b>
                </div>
                <div class="panel panel-body">
                    <div th:if="${loginError}" class="alert alert-danger" role="alert"><b>Login Failed!</b> Wrong
                        Username or Password.
                    </div>
                    <!-- Post method is required for both login and logout when using spring security -->
                    <form role="form" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"
                                   placeholder="User Name"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Password"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me </input>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>